/vendor
/node_modules
/public/storage
/public/build
/storage/*.key
/.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.DS_Store
.idea/
.vscode/
npm-debug.log
yarn-error.log
